<!DOCTYPE html>
<html lang="en">
    <body>
        <h1> Welcome! </h1>
        <h2> Please enter items that you would like to sell? </h2>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
            {{ form.quantity.label }} {{ form.quantity(size=4) }}
            {{ form.description.label }} {{ form.description(size=4) }}
            <input type="submit" value="Enter Item">
        </form>
        <b><a href={{url_for('success')}}>View Items</a></b>
    </body>
</html>
