<!DOCTYPE html>
<html lang="en">
    <body>
        <h1> Success! </h1>
        <h2> Here are the items that you would like to sell </h2>
        {% for item in items %}
            <p>
            {{ item.id }}
            {{ item.name }}
            {{ item.quantity }}
            {{ item.description }}
            {{ item.date_added.strftime("%m/%d/%Y, %H:%M") }}
            </p>
        {% endfor %}
        <b><a href={{url_for('add_item')}}>Add more</a></b>
    </body>
</html>